body {
	min-height: 2000px;
	padding-top: 70px;
	/*background: url('../assets/images/patterns/shattered.png');*/

}

.img-sidebar {
	width: 100%;
}

.side-bar-icons{
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-article, .post-index {
	font-family: georgia, 'Times New Roman', garamond, serif;
}

.article-title, .article-headline {
	font-family: inherit;
}

.article-title {
	border-bottom: 1px solid #efefef;
	margin-bottom: 10px;
}

.article-header {
	margin-bottom: 24px;
}


.article-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	color: #333333;
	border-bottom: solid 1px #efefef;
}

.main-article h1,
.main-article h2,
.main-article h3,
.main-article h4,
.main-article h5,
.main-article h6 {
	line-height: 1;
	margin-top: 0;
	text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
	color: #222222;
}

.main-article h4 {
	font-size: 24px;
	font-weight: bold;
}

.main-article p {
	text-align: justify;	
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 32px;
}

div.article-content > p:first-child {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 36px;
	color: #222222;
}

.by-line, .date-line {
	text-align: right;
	color: #999999;
	font-size: 18px;
	line-height: 24px;
}

div.article-content > p:first-child:first-letter {
	float: left;
	margin: auto .25em auto auto;
	padding: inherit;
	font-size: 4em;
	font-family: inherit;
	line-height: 1;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

.article-tags {
	color: #999999;
}

.article-link {
	border-bottom: solid 1px #efefef;
	margin-bottom: 20px;
}

.article-dateline {
	font-size: 14px;
	color: #999;
	margin-bottom: 18px;
}

#comments {
	margin-bottom: 40px;
}


/** Claremont Styles Rolled into Main Content **/
.main-article,
.main-article h1,
.main-article h2,
.main-article h3,
.main-article h4,
.main-article h5,
.main-article h6,
.main-article p,
.main-article ul, .main-article ol, .main-article li,
.main-article, .main-article dt, .main-article dd,
.main-article blockquote {
	font-family: georgia, 'Times New Roman', garamond, serif;	
}

.main-article,
.main-article p,
.main-article ul, .main-article ol, .main-article li,
.main-article dl, .main-article dt, .main-article dd,
.main-article blockquote {
	font-size: 20px;
	line-height: 32px;
}


.article-content h2 {
	font-size: 42px;
	line-height: 48px;
	margin-top: 40px;
	margin-bottom: 18px;
}

.article-content h3 {
	font-size: 36px;
	line-height: 40px;
	margin-top: 36px;
	margin-bottom: 12px;
}

.main-article dl {
	padding: 0 20px;
}

.main-article dd {
	padding-left: 20px;
	margin-bottom: 32px;
}




/** CLAREMONT  **/

.claremont,
.claremont h1,
.claremont h2,
.claremont h3,
.claremont h4,
.claremont h5,
.claremont h6,
.claremont p,
.claremont ul, .claremont ol, .claremont li,
.claremont dl, .claremont dt, .claremont dd,
.claremont blockquote {
	font-family: georgia, 'Times New Roman', garamond, serif;	
}

.claremont,
.claremont p,
.claremont ul, .claremont ol, .claremont li,
.claremont dl, .claremont dt, .claremont dd,
.claremont blockquote {
	font-size: 20px;
	line-height: 32px;
}

.claremont p {
	text-align: justify;
	margin-bottom: 32px;
}

.claremont p.first {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 36px;
	color: #222222;
}

.claremont p.first:first-letter {
	float: left;
	margin: auto .25em auto auto;
	padding: inherit;
	font-size: 4em;
	font-family: inherit;
	line-height: 1;
	text-indent: 0;
	background: transparent;
	color: #660000;
}

.claremont .first-line {
	font-variant: small-caps;
}

.claremont h1 {
	text-align: center;
	font-size: 48px;
	margin-top: 48px;
}

.claremont h2 {
	font-size: 42px;
	line-height: 48px;
	margin-top: 40px;
	margin-bottom: 18px;
	text-align: center;
}

.claremont h3 {
	font-size: 36px;
	line-height: 40px;
	margin-top: 36px;
	margin-bottom: 12px;
}

.claremont dl {
	padding: 0 20px;
}

.claremont dd {
	padding-left: 20px;
	margin-bottom: 32px;
}

.claremont .image-frame-full{
	width: 100%;
	background-color: #efefef;
	padding: 10px;
	margin: 18px;
}

.claremont .image-frame-right {
	float: right;
	width: 50%;
	background-color: #efefef;
	padding: 10px;
	margin: 18px;
	margin-top: 0;
}

.claremont .image-frame-left {
	float: left;
	width: 50%;
	background-color: #efefef;
	padding: 10px;
	margin: 18px;
	margin-top: 0;
}

.claremont .image-frame img {
	width: 100%;
	margin-bottom: 10px;
}

.claremont .image-frame .image-caption {
	color: #222222;
	font-size: 12px;
	line-height: 10px;
}


/** Resume Styles **/

.resume-position, .resume-skillset, .resume-school {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 24px;
}

.resume-skills {
	padding-left: 20px;
	padding-right: 20px;
}

.resume-company, .resume-time, .resume-explanation {
	font-weight: normal;
	padding-left: 20px;

}

.resume-explanation {
	font-style: italic;
}

.resume-time {
	font-style: italic;
	font-size: 16px;
}

.dt-multiple-dd {
	margin-bottom: 32px;
}
