body {
	min-height: 2000px;
	padding-top: 70px;
	/*background: url('../assets/images/patterns/shattered.png');*/

}

.img-sidebar {
	width: 100%;
}

.side-bar-icons{
	padding-top: 15px;
	padding-bottom: 15px;
}

.main-article, .post-index {
	font-family: georgia, 'Times New Roman', garamond, serif;
}

.article-title, .article-headline {
	font-family: inherit;
}

.article-title {
	border-bottom: 1px solid #efefef;
	margin-bottom: 10px;
}

.article-header {
	margin-bottom: 24px;
}


.article-content {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	color: #333333;
	border-bottom: solid 1px #efefef;
}

.main-article h1,
.main-article h2,
.main-article h3,
.main-article h4,
.main-article h5,
.main-article h6 {
	line-height: 1;
	margin-top: 0;
	text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
	color: #222222;
}

.main-article p {
	text-align: justify;	
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 32px;
}

div.article-content > p:first-child {
	font-size: 24px;
	line-height: 36px;
	margin-bottom: 36px;
	color: #222222;
}

.by-line, .date-line {
	text-align: right;
	color: #999999;
	font-size: 18px;
	line-height: 24px;
}

div.article-content > p:first-child:first-letter {
	float: left;
	margin: auto .25em auto auto;
	padding: inherit;
	font-size: 4em;
	font-family: inherit;
	line-height: 1;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

.article-tags {
	color: #999999;
}

.article-link {
	border-bottom: solid 1px #efefef;
	margin-bottom: 20px;
}

.article-dateline {
	font-size: 14px;
	color: #999;
	margin-bottom: 18px;
}

#comments {
	margin-bottom: 40px;
}


/** CLAREMONT **/

.claremont,
.claremont h1,
.claremont h2,
.claremont h3,
.claremont h4,
.claremont h5,
.claremont h6,
.claremont p,
.claremont ul, .claremont ol, .claremont li,
.claremont dl, .claremont dt, .claremont dd,
.claremont blockquote {
	font-family: georgia, 'Times New Roman', garamond, serif;	
}

.claremont,
.claremont p,
.claremont ul, .claremont ol, .claremont li,
.claremont dl, .claremont dt, .claremont dd,
.claremont blockquote {
	font-size: 20px;
	line-height: 32px;
}

.claremont p {
	text-align: justify;
}

.claremont h1 {
	text-align: center;
	font-size: 48px;
}

.claremont h2 {
	font-size: 42px;
	line-height: 48px;
	margin-top: 24px;
	margin-bottom: 12px;
}

.claremont dl {
	padding: 0 20px;
}

.claremont dd {
	padding-left: 20px;
}