<div class="main-article">
	<div class="article-header">
		<div class="article-title">
			<h1 class="article-headline">
				{{ page.title}}
				{% if page.subtitle %} 
					<br/><small>{{ page.subtitle}}</small>
				{% endif %}
			</h1>
		</div>
		{% if page.author %}
			<div class="by-line ">
				<span>by {{ page.author }}</span>
			</div>
		{% endif %}
	</div> <!-- article header -->
	{% if page.layout == 'home' %}
		{% for post in site.posts %}
			<h2><a href="{{ site.url }}{{ post.url }}">{{post.title}}</a></h2>
				{% if post.description %}
					<p>{{ post.description }}</p>
				{% endif %}
		{% endfor %}
	{% else %}
	<div class="article-content">
		{{ content }}
		{% if page.original_appearance.title %}
			{% if page.original_appearance.alt_text %}
				{{ page.original_appearance.alt_text }}
			{% else %}
				Originally appeared at
			{% endif %}
			{% if page.original_appearance.url %}
				<a href="{{page.original_appearance.url}}" target="_blank">
					{{ page.original_appearance.title}}
				</a>
			{% else %}
				{{ page.original_appearance.title}}
			{% endif %}
			{% if page.original_appearance.date %}
				on {{page.original_appearance.date | date_to_long_string}}.
			{% else %}
				.
			{% endif %}
		{% endif %}
	</div> <!-- /.article-content -->
	{% include disqus.html %}
	{% endif %}
</div> <!-- /.main-article -->
