<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.url}}">{{site.title}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon icon-info-sign icon-large"></i></a>
              <ul class="dropdown-menu">
               <li><a href="{{site.url}}/about">About Adam</a></li>
               <li><a href="{{site.url}}/about/credits">Site Info</a></li>
              </ul>
            </li> <!-- /.dropdown /about-menu -->
          </ul>
		  <ul class="nav navbar-nav navbar-right">
            <li><a href="{{site.owner.contact}}"><i class="icon icon-envelope-alt icon-large"></i></a></li>
            <li><a href="{{site.feed}}"><i class="icon icon-rss icon-large"></i></a></li>
            <li><a href="http://github.com/{{site.owner.github}}"><i class="icon icon-github-alt icon-large"></i></a></li>
            <li><a href="http://facebook.com/{{site.owner.facebook}}"><i class="icon icon-facebook icon-large"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>