<img class="img-responsive img-circle " src="{{ site.url }}/assets/images/adam-face.jpg" />
				<div class="row side-bar-icons">
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/cant-cross.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/trinity-circle.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/copyleft.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/open-source.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/anarchy.svg" />
					</div>
					<div class="col-md-6 side-bar-icons">
						<img class="img-sidebar" src="{{ site.url }}/assets/images/source-code.svg" />
					</div>
				</div> <!-- /.row sidebar icons -->